.climb-list-page {
  margin: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.climb-card-container {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}